div[data-start] {
    color: red;
}
button[data-role="button"]{
    background-color: blue;
    color: green;
}
[src$=".png"] {
    padding: 23px;
    background: yellow;
}
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #00539f;
}
h1{
    font-size: 60px;
    text-align: center;
}
p,
li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}
video{
    padding: 5px;
}
h3 + p {
    background: white;
}
h3 + p::first-line{
    font-size: 14px;
    color: red;
}
.trial {
    background-color: red;
    width: calc(90% - 200px);
}

.paragraph > p{
    background-color: yellow;
}
.paragraph *:first-child{
    background-color: red;
    color: blue;
    font-size: 20px;
}
.learning{
    font-size: 17px;
}
.learning:hover::before{
    content: 'I love CSS';
    padding-right: 10px;
    color: #ff9500;
}
.learning::after{
    content: 'I am done';
    padding-left: 10px;
    color: #ff9500;
}
a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}
